<%- include("header") -%>
<div class="title-banner">
    <h1 class="web-title">Movie Search</h1>
    <a class="favorite-movies-link" href="/">Back to Search</a>
    
</div>

<body>
<% movies.forEach(function(movie) { %>
    <div class="fave-movie-list">
    <img src="<%= movie.movieUrl %>">
    <p><%= movie.name %></p>
</div>
<% }) %>
    <%- include("footer") -%>
</body>

</html