<%- include("header") -%>
<body>
    <div class="title-banner">
    <h1 class="web-title">Movie Search</h1>
    <ul class="nav-links">
    <a href="/favoritemovies">Favorite Movies</a>
    <a href="/logout" ><%= log %></a>

</ul>
    </div>

<div class="search-section">
    <form action="/" method="POST">
        <input class="input-area" type="text" name="userMoviePick" autocomplete="off">
        <button class="search-button" type="submit">Search</button>
    </form>
</div>

<%- include("footer") -%>
<script>
    </script>
</body>
</html>